body {
  font-family: "Franklin Gothic", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Navigation Bar */
.logo{
  width: 4em;
}
.navbar-brand {
  color: white;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 40px;
}

.nav-item {
  color: white;
  margin: 0 30px;
}

/* First section of the page */
@media only screen and (min-width: 1200px) {
  .row {
    margin-left: 5.5em;
    margin-right: 3.5em;
  }

  .hometext {
    font-family: 'Work Sans', sans-serif;
    margin: 8% 0 0;
    font-weight: bold;
    font-size: 4em;
  }

  .image{
    margin: 7.5em auto 0 5.5em;
    width: 75%;
  }

  .sectionOneText {
    font-size: 17px;
    font-weight: normal;
  }
}

@media only screen and (max-width:1200px) {
  .row {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .hometext {
    font-family: 'Work Sans', sans-serif;
    margin: 8% 0 0;
    font-weight: bold;
    font-size: 3em;
  }

  .image{
    margin: 7.5em auto 0 3.5em;
    width: 75%;
  }
}

@media only screen and (max-width:992px) {
  .row {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .hometext {
    font-family: 'Work Sans', sans-serif;
    margin: 6% 0 0;
    font-weight: bold;
    font-size: 3em;
  }

  .image{
    margin: 7.5em auto 0 3.5em;
    width: 85%;
  }
}

@media only screen and (max-width:768px) {
  .row {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .hometext {
    font-family: 'Work Sans', sans-serif;
    margin: 6% 0 0;
    font-weight: bold;
    font-size: 4.5em;
  }

  .image{
    margin: 7.5em auto 0 3.5em;
    width: 95%;
  }
}

@media only screen and (max-width:768px) {
  .row {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .hometext {
    font-family: 'Work Sans', sans-serif;
    margin: 6% 0 0;
    font-weight: bold;
    font-size: 4.5em;
  }

  .image{
    margin: 7.5em auto 0 3.5em;
    width: 95%;
  }
}

.sectionOneText {
  font-size: 17px;
  font-weight: normal;
}


/* Section Two start */
